.tabs {

    > ul li {
        margin-top: 0;
    }

    + .tabs-content {
        margin-top: 2rem;
        padding: 0;

        .tab {
            display: none;

            &.is-active {
                display: block;
            }
        }
    }
}
